/* fonts go here */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Zen+Kaku+Gothic+Antique:wght@400;700&display=swap");
/* variables go here */
:root {
  --mainFont: "Zen Kaku Gothic Antique", sans-serif;
  --subFont: "Roboto", sans-serif;
  --mainColor: rgb(233 49 49);
  --subColor: rgb(144 225 87);
  --bgColor: rgb(29, 28, 28);
  --linkColor: ;
  --linkhoverColor: ;
  --sidePadding: 1rem;
}

/* global styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--mainFont);
  background: var(--bgColor);
  color: #fff;
}

h1,
h2,
h3 {
  font-family: var(--subFont);
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

header {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 2rem var(--sidePadding);
  justify-content: space-between;
}

footer {
  padding: var(--sidePadding);
  font-size: 0.8rem;
}

ul {
  display: flex;
  flex-direction: row;
}

ul li {
  padding: 1rem;
}

ol {
  display: flex;
  flex-direction: row;
  padding: 2rem var(--sidePadding);
}

ol li {
  padding: 0.2rem;
}

ol li::after {
  content: "/";
  margin-left: 0.3rem;
}

ol li:last-child::after {
  content: "";
}

/* ID styling */

#homeContent {
  padding: 2rem var(--sidePadding);
}

#software article {
  padding: 2rem var(--sidePadding);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

#software h1 {
  grid-column: 1/-1;
}

#shortcutList article {
  padding: 2rem var(--sidePadding);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

#shortcutList h1 {
  grid-column: 1/-1;
}

/* class styling */

.grid {
  display: grid;
}

.breadcrumbs {
  font-size: 0.8rem;
}

.softwareCard {
  aspect-ratio: 1/1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #fff;
}

.softwareCard a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcutCard {
  aspect-ratio: 1/1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #fff;
}

.shortcutCard a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shortcutCard a h2 {
  padding: 0 0 1rem 0;
}

.shortcut {
  padding: 0.8rem 0;
}

.key {
  background: rgb(228, 225, 221);
  padding: 0.2rem 0.5rem;
  border: solid 1px rgb(70, 68, 66);
  border-radius: 0.3rem;
  box-shadow: 2px 2px 3px rgb(87, 86, 83);
  color: #121212;
}

.shortcutWrapper {
  padding: 1rem var(--sidePadding);
}
.shortcutWrapper section {
  padding: 1.5rem;
}

.shortcutWrapper section h2 {
  margin-bottom: 1rem;
}

.shortcutWrapper section:first-of-type h2 {
  margin-bottom: 1rem;
  width: 100%;
  background: var(--mainColor);
  padding: 0.3rem;
}

.shortcutWrapper section p {
  margin: 1.5rem 0;
}

.shortcutWrapper section div {
  display: flex;
  flex-direction: row;
}
.shortcutWrapper section div p {
  padding: 0.2rem;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .shortcutWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .shortcutWrapper {
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
  }
}
