/* fonts go here */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Zen+Kaku+Gothic+Antique:wght@400;700&display=swap");
/* variables go here */
:root {
  --mainFont: "Zen Kaku Gothic Antique", sans-serif;
  --subFont: "Roboto", sans-serif;
  --mainColor: rgb(233 49 49);
  --subColor: rgb(51, 50, 53);
  --bgColor: rgb(29, 28, 28);
  --linkColor: rgb(184, 255, 133);
  --linkhoverColor: rgb(215, 255, 187);
  --sidePadding: 1rem;
}

/* global styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--mainFont);
  background: var(--bgColor);
  color: #fff;
}

h1,
h2,
h3 {
  font-family: var(--subFont);
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

header {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 2rem var(--sidePadding);
  justify-content: space-between;
}

footer {
  padding: var(--sidePadding);
  font-size: 0.8rem;
}

ul {
  display: flex;
  flex-direction: row;
}

ul li {
  padding: 1rem;
}

ol {
  display: flex;
  flex-direction: row;
  padding: 2rem var(--sidePadding);
}

ol li {
  padding: 0.2rem;
}

ol li::after {
  content: "/";
  margin-left: 0.3rem;
}

ol li:last-child::after {
  content: "";
}

/* ID styling */

#homeContent {
  padding: 2rem var(--sidePadding);
}

#software article {
  padding: 2rem var(--sidePadding);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

#software h1 {
  grid-column: 1/-1;
}

#shortcutList article {
  padding: 2rem var(--sidePadding);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

#shortcutList h1 {
  grid-column: 1/-1;
}

/* class styling */

.grid {
  display: grid;
}

.breadcrumbs {
  font-size: 0.8rem;
}

.softwareCard {
  aspect-ratio: 1/1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #fff;
  transition: 0.3s ease;
  position: relative;
  padding: 2rem;
}

.softwareCard a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.softwareCard:hover {
  transform: translate(-0.5rem, -0.5rem);
  box-shadow: 0.5rem 0.5rem 0 var(--subColor);
}

.softwareCard span {
  padding: 0.2rem 0.5rem;
  background-color: var(--mainColor);
  z-index: 2;
  position: absolute;
  bottom: -1px;
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: var(--subFont);
  border-radius: 3px 3px 0 0;
  border: solid 1px #fff;
}

.shortcutCard {
  aspect-ratio: 1/1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #fff;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}

.shortcutCard:after {
  content: "";
  position: absolute;
  display: block;
  aspect-ratio: 1/1;
  height: 16px;
  bottom: 0.7rem;
  right: 0.4rem;
  background-image: url(/img/icons/right-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: center;
  transition: all 0.3s ease;
}

.shortcutCard a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.shortcutCard a h2 {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--mainColor);
  transition: 0.3s ease;
}

.shortcut {
  padding: 0.8rem 0;
  display: flex;
}

.shortcut p {
  padding: 0.3rem;
}
.shortcut p:last-of-type {
  display: none;
  visibility: hidden;
}

.shortcutCard:hover {
  transform: translate(-0.5rem, -0.5rem);
  box-shadow: 0.5rem 0.5rem 0 var(--subColor);
}

.shortcutCard:hover h2 {
  letter-spacing: 2px;
}

.shortcutCard:hover::after {
  transform: rotate(-90deg);
  bottom: 1rem;
  right: 0.7rem;
}

.btn {
  font-family: var(--subFont);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor);
  padding: 0.4rem 0.7rem;
  border-radius: 3px;
}

.key {
  background: rgb(228, 225, 221);
  padding: 0.2rem 0.5rem;
  border: solid 1px rgb(70, 68, 66);
  border-radius: 0.3rem;
  box-shadow: 2px 2px 3px rgb(87, 86, 83);
  color: #121212;
}

.shortcutWrapper {
  padding: 1rem var(--sidePadding);
  gap: 2rem;
}
.shortcutWrapper section {
  padding: 1.5rem;
}
.shortcutWrapper section {
  border: solid 1px #fff;
}

.shortcutWrapper section h2 {
  margin-bottom: 1rem;
}

.shortcutWrapper section:first-of-type h2 {
  margin-bottom: 1rem;
  width: 100%;
  background: var(--mainColor);
  padding: 0.3rem;
}

.shortcutWrapper section p {
  margin: 1.5rem 0;
}

.shortcutWrapper section:first-of-type div {
  display: flex;
  flex-direction: row;
}

.shortcutWrapper section div p {
  padding: 0.2rem;
  margin: 0;
}

.shortcutWrapper section a {
  color: var(--linkColor);
}
.shortcutWrapper section a:hover {
  color: var(--linkhoverColor);
  text-decoration: underline;
}

.worksIn {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.worksIn a:after {
  content: ",  ";
  color: #fff;
  line-height: 1.5;
}
.worksIn a:last-of-type::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .shortcutWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  #shortcutList article {
    padding: 2rem var(--sidePadding);
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 1rem;
  }
  .shortcutCard a {
    font-size: 1.2rem;
  }
  #software article {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 1280px) {
  .shortcutWrapper {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
  }
}
